
Demo_CICD.xcodeproj/project.xcworkspace/xcuserdata/nstryker.xcuserdatad/UserInterfaceState.xcuserstate
*.xcuserstate
Demo_CICD.xcodeproj/project.xcworkspace/xcuserdata/nstryker.xcuserdatad/UserInterfaceState.xcuserstate
