<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
      <key>provisioningProfiles</key>
      <dict>
        <key>com.strykeout.*</key>
        <string>WildCard Cert</string>
      </dict>
      <key>signingCertificate</key>
      <string>Apple Development</string>
      <key>signingStyle</key>
      <string>manual</string>
      <key>teamID</key>
      <string>K6KR46EF23</string>
  </dict>
</plist>