<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.strykeout.Demo_CICD</key>
		<string>d501484d-95bd-4834-a886-ca431b9854a3</string>
	</dict>
	<key>signingCertificate</key>
	<string>Apple Development: Nathan Stryker (K6KR46EF23)</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>teamID</key>
	<string>B53QXK3N3S</string>
</dict>
</plist>
