name: Archive Workflow

on:
  push:
    branches: [ main ]

jobs:
  build:
    name: Archive File on merge to Main 
    runs-on: macos-latest
    env:
      SCHEME: Demo_CICD
      BUILD_CONFIGURATION: Release

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        
      - name: Install the Apple certificate and provisioning profile
        env:
          BUILD_CERTIFICATE_BASE64: ${{ secrets.BUILD_CERTIFICATE_BASE64 }}
          P12_PASSWORD: ${{ secrets.P12_PASSWORD }}
          BUILD_PROVISION_PROFILE_BASE64: ${{ secrets.BUILD_PROVISION_PROFILE_BASE64 }}
          KEYCHAIN_PASSWORD: ${{ secrets.KEYCHAIN_PASSWORD }}  
        run: |
          # create variables
          CERTIFICATE_PATH=$RUNNER_TEMP/build_certificate.p12
          PP_PATH=$RUNNER_TEMP/build_pp.mobileprovision
          KEYCHAIN_PATH=$RUNNER_TEMP/app-signing.keychain-db

          # import certificate and provisioning profile from secrets
          echo -n "$BUILD_CERTIFICATE_BASE64" | base64 --decode --output $CERTIFICATE_PATH
          echo -n "$BUILD_PROVISION_PROFILE_BASE64" | base64 --decode --output $PP_PATH

          # create temporary keychain
          security create-keychain -p "$KEYCHAIN_PASSWORD" $KEYCHAIN_PATH
          security set-keychain-settings -lut 21600 $KEYCHAIN_PATH
          security unlock-keychain -p "$KEYCHAIN_PASSWORD" $KEYCHAIN_PATH

          # import certificate to keychain
          security import $CERTIFICATE_PATH -P "$P12_PASSWORD" -A -t cert -f pkcs12 -k $KEYCHAIN_PATH
          security list-keychain -d user -s $KEYCHAIN_PATH

          # apply provisioning profile
          mkdir -p ~/Library/MobileDevice/Provisioning\ Profiles
          cp $PP_PATH ~/Library/MobileDevice/Provisioning\ Profiles

      - name: Build archive
        run: |

          xcodebuild \
          -scheme ${{ env.SCHEME }} \
          -configuration ${{ env.BUILD_CONFIGURATION }} \
          DEVELOPMENT_TEAM=${{ env.TEAM_ID }} \
          -sdk 'iphoneos' -destination 'generic/platform=iOS' \
          -archivePath build-output/app.xcarchive \
          PROVISIONING_PROFILE=58880de9-bae1-4260-94e2-8fd5e5704706 \
          clean \
          archive \
          CODE_SIGN_IDENTITY="iPhone Distribution: Nathan Stryker (B53QXK3N3S)"

      - name: Build IPA
        run: |
            xcodebuild \
            -exportArchive \
            -archivePath build-output/app.xcarchive \
            -exportPath build-output/ios \
            -exportOptionsPlist exportOptions.plist 

