name: Archive Workflow

on:
  push:
    branches: [ main ]

jobs:
  job_1:
      name: Archive File on merge to Main 
      runs-on: macos-latest

      steps:
        - name: Checkout
          uses: actions/checkout@v2
          
        - name: Install the Apple certificate and provisioning profile
          env:
            BUILD_CERTIFICATE_BASE64: ${{ secrets.BUILD_CERTIFICATE_BASE64 }}
            P12_PASSWORD: ${{ secrets.P12_PASSWORD }}
            BUILD_PROVISION_PROFILE_BASE64: ${{ secrets.BUILD_PROVISION_PROFILE_BASE64 }}
            KEYCHAIN_PASSWORD: ${{ secrets.KEYCHAIN_PASSWORD }}  
          run: |
            # create variables
            CERTIFICATE_PATH=$RUNNER_TEMP/build_certificate.p12
            PP_PATH=$RUNNER_TEMP/build_pp.mobileprovision
            KEYCHAIN_PATH=$RUNNER_TEMP/app-signing.keychain-db

            # import certificate and provisioning profile from secrets
            echo -n "$BUILD_CERTIFICATE_BASE64" | base64 --decode --output $CERTIFICATE_PATH
            echo -n "$BUILD_PROVISION_PROFILE_BASE64" | base64 --decode --output $PP_PATH

            # create temporary keychain
            security create-keychain -p "$KEYCHAIN_PASSWORD" $KEYCHAIN_PATH
            security set-keychain-settings -lut 21600 $KEYCHAIN_PATH
            security unlock-keychain -p "$KEYCHAIN_PASSWORD" $KEYCHAIN_PATH

            # import certificate to keychain
            security import $CERTIFICATE_PATH -P "$P12_PASSWORD" -A -t cert -f pkcs12 -k $KEYCHAIN_PATH
            security list-keychain -d user -s $KEYCHAIN_PATH

            # apply provisioning profile
            mkdir -p ~/Library/MobileDevice/Provisioning\ Profiles
            cp $PP_PATH ~/Library/MobileDevice/Provisioning\ Profiles

        - name: Build archive
          env:
            scheme: ${{ 'Demo_CICD' }}
          run: |
              xcodebuild \
              -configuration Release \
              -scheme $scheme \
              -archivePath ./demo/Demo_CICD.xcarchive \
              archive 

        - name: Build IPA
          run: |
              xcodebuild \
              -configuration Release \
              -exportArchive \
              -archivePath ./demo/Demo_CICD.xcarchive \
              -exportPath ./artifact/demoIPA.ipa \
              -exportOptionsPlist exportOptions.plist 
        
        - name: 'Upload Artifact'
          uses: actions/upload-artifact@v2
          with:
            name: DemoIPA
            path: ./artifact/demoIPA.ipa
            retention-days: 5

  job_2:
    needs: job_1
    name: Deploy
    runs-on: ubuntu-latest
    steps:
      - name: Download a single artifact
        uses: actions/download-artifact@v2
        with:
          name: DemoIPA
          path: /artifact
      - name: Display structure of downloaded files
          run: ls -R
          working-directory: /artifact
      - name: upload artefact to App Center
        uses: wzieba/AppCenter-Github-Action@v1
        with:
          appName: NPSConsultingLLC/Demo-CICD
          token: ${{secrets.APP_CENTER_TOKEN}}
          group: Collaborators
          file: ./artifact/demoIPA.ipa
          notifyTesters: true
          debug: true
