name: Run UI Tests

on:
  pull_request:
    types: [ opened, reopened, edited ]

jobs:
  build:
    name: Run UI Tests
    runs-on: macos-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set Default Scheme
        run: |
          open /Applications/Xcode.app/Contents/Developer/Applications/Simulator.app/
          scheme_list=$(xcodebuild -list -json | tr -d "\n")
          default=$(echo $scheme_list | ruby -e "require 'json'; puts JSON.parse(STDIN.gets)['project']['targets'][0]")
          echo $default | cat >default
          echo Using default scheme: $default

      - name: UI Test 
        env: 
          scheme: ${{'Demo_CICD_UITest'}}
          platform: ${{ 'iOS Simulator' }}
          device: ${{'iPhone 13 Pro'}}
        run: |
           xcodebuild test -scheme "$scheme" -project Demo_CICD.xcodeproj -destination "platform=$platform,name=$device"